<h1><%= @user.email %></h1>
<%= render 'routes/map_of_route' %>
<div class="row">
  <div class="small-2 columns"></div>
  <div class="small-10 columns">
    <b>Miles Flown: </b><%= @user.miles.round %>
  </div>
</div>
<% @route_users.each do |route_user| %>
  <div class="row">
    <div class="small-2 columns"></div>
    <div class="small-10 columns">
      <%= render 'shared/routeinfo', route:route_user.route %>
      <div class="row">
        <div class="small-2 columns">
          <b>Flown:</b>
        </div>
        <div class="small-10 columns">
          <%= route_user.date %>
        </div>
      </div>
      <% if policy(route_user).destroy? %>
        <%= link_to 'x', route_user,
            method: :delete,
            data: { confirm: 'Delete Flight: Are you Sure?' },
            class:"button alert tiny",
            style:"vertical-align:middle;",
            id: "delete_route_#{route_user.id}" %>
      <% end %>
    </div>
  </div>
<% end %>
