<h1><%= @user.email %></h1>
<%= render 'routes/map_of_route' %>
<div class="row">
  <div class="small-12 columns">
    <%= link_to "Log New Flight", static_pages_home_path, class:"button" %>
  </div>
</div>
<div class="row">
  <div class="small-6 columns" id="miles_flown">
    <h3>Miles Flown</h3>
    <%= @user.miles.round %>
  </div>
  <div class="small-6 columns">
    <h3>Countries Visited (<%= @user.countries.count %>)</h3>
    <ul>
      <% @user.countries.each do |country| %>
      <li>
        <%= country unless country.nil? %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<%= paginate @route_users %>
<div class="row">
  <table>
    <thead>
      <th width="15%"></th>
      <th width="23%">Origin</th>
      <th width="23%">Destination</th>
      <th width="15%">Airline</th>
      <th width="15%"><%= "Flown On \u25bc" %></th>
      <th width="19%"></th>
    </thead>
    <tbody>
      <% @route_users.each do |route_user| %>
        <% route = route_user.route %>
        <tr>
          <td>
            <%= "#{route_user.route.origin.iata_faa} ->
                  #{route_user.route.destination.iata_faa}" %>
          </td>
          <td><%= link_to route.origin.name, airport_path(route.origin) %></td>
          <td><%= link_to route.destination.name, airport_path(route.destination) %></td>
          <td><%= link_to route.airline.name, airline_path(route.airline) %></td>
          <td>
            <% if route_user.date %>
              <%= route_user.date %>
            <% else %>
              <%= link_to("add date", edit_route_user_path(route_user)) if policy(route_user).edit? %>
            <% end %>
          </td>
          <td>
            <% if policy(route_user).destroy? %>
              <%= link_to 'x', route_user,
              method: :delete,
              data: { confirm: 'Delete Flight: Are you Sure?' },
              class:"button alert tiny",
                style:"vertical-align:middle;",
                id: "delete_route_#{route_user.id}" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @route_users %>
