<%= f.hidden_field :route_id, default:params[:route_id] %>
<%= f.hidden_field :user_id, default:params[:user_id] %>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
</div>

<div class="row">
  <div class="small-3 small-centered columns">
    <%= f.submit "Add Flight to Log", class:"button", id:"log_flight" %>
  </div>
</div>
