<%= render 'routes/map_of_route' %>
<%= render 'shared/routeinfo', route:@route %>
<%= form_for @route_user, url: route_users_path, html: { method: :post } do |f| %>
  <div class="row">
    <%= render 'form', f: f %>
  </div>
  <div class="row">
    <div class="small-3 small-centered columns">
      <%= f.submit "Add Flight to Log", class:"button", id:"log_flight" %>
    </div>
  </div>
<% end %>
