<div class="row">
  <div class="row">
    <div class="small-12 columns centered">
      <h1>
        <%= "#{@route_user.route.origin_airport.iata_faa} -> #{@route_user.route.destination_airport.iata_faa}" %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <b>From:</b>
    </div>
    <div class="small-11 columns">
      <%= @route_user.route.origin_airport.name %>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <b>To:</b>
    </div>
    <div class="small-11 columns">
      <%= @route_user.route.destination_airport.name %>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <b>Carrier:</b>
    </div>
    <div class="small-11 columns">
      <%= @route_user.route.airline.name %>
    </div>
  </div>

</div>
<div class="row">
  <%= form_for @route_user, url: new_route_user_path, html: { method: :post } do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
