<div class="row">
  <div class="small-12">
    <h1>Airlines</h1>
    <%= paginate @airlines %>
    <table>
      <thead>
        <th>Name</th>
        <th>Country</th>
        <th>IATA</th>
        <th>Total Routes</th>
      </thead>
      <tbody>
        <% @airlines.each do |airline| %>
          <tr>
            <td><%= link_to airline.name, airline_path(airline) %></td>
            <td><%= airline.country %></td>
            <td><%= airline.iata %></td>
            <td><%= airline.routes_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @airlines %>
  </div>
</div>
