<%= render 'map_of_route' %>
<div class="row">
  <div class="small-12 columns small-centered">
    <table>
      <thead>
        <tr>
          <th>Origin (IATA/FAA)</th>
          <th>Destination (IATA/FAA)</th>
          <th>Carrier Airline</th>
        </tr>
      </thead>
      <tbody>
        <% @routes.each do |route| %>
          <tr>
            <td><%= route.origin_airport.iata_faa %></td>
            <td><%= route.destination_airport.iata_faa %></td>
            <td><%= route.airline.name %></td>
            <td>
              <%= link_to 'Add to Flights Log',
                    new_route_user_path(route_id:route.id),
                    class:"button tiny radius", id:"route_#{route.id}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
